/* rubik-300 - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url('rubik-v9-cyrillic_latin-300.eot')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300.eot*/; /* IE9 Compat Modes */
  src: local('Rubik Light'), local('Rubik-Light'),
	url('rubik-v9-cyrillic_latin-300.eot-#iefix')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
	url('rubik-v9-cyrillic_latin-300.woff2')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300.woff2*/ format('woff2'), /* Super Modern Browsers */
	url('rubik-v9-cyrillic_latin-300.woff')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300.woff*/ format('woff'), /* Modern Browsers */
	url('rubik-v9-cyrillic_latin-300.ttf')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300.ttf*/ format('truetype'), /* Safari, Android, iOS */
	url('rubik-v9-cyrillic_latin-300.svg#Rubik')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300.svg#Rubik*/ format('svg'); /* Legacy iOS */
}
/* rubik-regular - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('rubik-v9-cyrillic_latin-regular.eot')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-regular.eot*/; /* IE9 Compat Modes */
  src: local('Rubik'), local('Rubik-Regular'),
	url('rubik-v9-cyrillic_latin-regular.eot-#iefix')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-regular.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
	url('rubik-v9-cyrillic_latin-regular.woff2')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-regular.woff2*/ format('woff2'), /* Super Modern Browsers */
	url('rubik-v9-cyrillic_latin-regular.woff')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-regular.woff*/ format('woff'), /* Modern Browsers */
	url('rubik-v9-cyrillic_latin-regular.ttf')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-regular.ttf*/ format('truetype'), /* Safari, Android, iOS */
	url('rubik-v9-cyrillic_latin-regular.svg#Rubik')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-regular.svg#Rubik*/ format('svg'); /* Legacy iOS */
}
/* rubik-300italic - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 300;
  src: url('rubik-v9-cyrillic_latin-300italic.eot')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300italic.eot*/; /* IE9 Compat Modes */
  src: local('Rubik Light Italic'), local('Rubik-LightItalic'),
	url('rubik-v9-cyrillic_latin-300italic.eot-#iefix')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300italic.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
	url('rubik-v9-cyrillic_latin-300italic.woff2')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300italic.woff2*/ format('woff2'), /* Super Modern Browsers */
	url('rubik-v9-cyrillic_latin-300italic.woff')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300italic.woff*/ format('woff'), /* Modern Browsers */
	url('rubik-v9-cyrillic_latin-300italic.ttf')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300italic.ttf*/ format('truetype'), /* Safari, Android, iOS */
	url('rubik-v9-cyrillic_latin-300italic.svg#Rubik')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300italic.svg#Rubik*/ format('svg'); /* Legacy iOS */
}
/* rubik-italic - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  src: url('rubik-v9-cyrillic_latin-italic.eot')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-italic.eot*/; /* IE9 Compat Modes */
  src: local('Rubik Italic'), local('Rubik-Italic'),
	url('rubik-v9-cyrillic_latin-italic.eot-#iefix')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-italic.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
	url('rubik-v9-cyrillic_latin-italic.woff2')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-italic.woff2*/ format('woff2'), /* Super Modern Browsers */
	url('rubik-v9-cyrillic_latin-italic.woff')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-italic.woff*/ format('woff'), /* Modern Browsers */
	url('rubik-v9-cyrillic_latin-italic.ttf')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-italic.ttf*/ format('truetype'), /* Safari, Android, iOS */
	url('rubik-v9-cyrillic_latin-italic.svg#Rubik')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-italic.svg#Rubik*/ format('svg'); /* Legacy iOS */
}
/* rubik-500 - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('rubik-v9-cyrillic_latin-500.eot')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500.eot*/; /* IE9 Compat Modes */
  src: local('Rubik Medium'), local('Rubik-Medium'),
	url('rubik-v9-cyrillic_latin-500.eot-#iefix')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
	url('rubik-v9-cyrillic_latin-500.woff2')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500.woff2*/ format('woff2'), /* Super Modern Browsers */
	url('rubik-v9-cyrillic_latin-500.woff')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500.woff*/ format('woff'), /* Modern Browsers */
	url('rubik-v9-cyrillic_latin-500.ttf')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500.ttf*/ format('truetype'), /* Safari, Android, iOS */
	url('rubik-v9-cyrillic_latin-500.svg#Rubik')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500.svg#Rubik*/ format('svg'); /* Legacy iOS */
}
/* rubik-700 - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('rubik-v9-cyrillic_latin-700.eot')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700.eot*/; /* IE9 Compat Modes */
  src: local('Rubik Bold'), local('Rubik-Bold'),
	url('rubik-v9-cyrillic_latin-700.eot-#iefix')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
	url('rubik-v9-cyrillic_latin-700.woff2')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700.woff2*/ format('woff2'), /* Super Modern Browsers */
	url('rubik-v9-cyrillic_latin-700.woff')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700.woff*/ format('woff'), /* Modern Browsers */
	url('rubik-v9-cyrillic_latin-700.ttf')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700.ttf*/ format('truetype'), /* Safari, Android, iOS */
	url('rubik-v9-cyrillic_latin-700.svg#Rubik')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700.svg#Rubik*/ format('svg'); /* Legacy iOS */
}
/* rubik-500italic - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 500;
  src: url('rubik-v9-cyrillic_latin-500italic.eot')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500italic.eot*/; /* IE9 Compat Modes */
  src: local('Rubik Medium Italic'), local('Rubik-MediumItalic'),
	url('rubik-v9-cyrillic_latin-500italic.eot-#iefix')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500italic.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
	url('rubik-v9-cyrillic_latin-500italic.woff2')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500italic.woff2*/ format('woff2'), /* Super Modern Browsers */
	url('rubik-v9-cyrillic_latin-500italic.woff')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500italic.woff*/ format('woff'), /* Modern Browsers */
	url('rubik-v9-cyrillic_latin-500italic.ttf')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500italic.ttf*/ format('truetype'), /* Safari, Android, iOS */
	url('rubik-v9-cyrillic_latin-500italic.svg#Rubik')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500italic.svg#Rubik*/ format('svg'); /* Legacy iOS */
}
/* rubik-700italic - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  src: url('rubik-v9-cyrillic_latin-700italic.eot')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700italic.eot*/; /* IE9 Compat Modes */
  src: local('Rubik Bold Italic'), local('Rubik-BoldItalic'),
	url('rubik-v9-cyrillic_latin-700italic.eot-#iefix')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700italic.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
	url('rubik-v9-cyrillic_latin-700italic.woff2')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700italic.woff2*/ format('woff2'), /* Super Modern Browsers */
	url('rubik-v9-cyrillic_latin-700italic.woff')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700italic.woff*/ format('woff'), /* Modern Browsers */
	url('rubik-v9-cyrillic_latin-700italic.ttf')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700italic.ttf*/ format('truetype'), /* Safari, Android, iOS */
	url('rubik-v9-cyrillic_latin-700italic.svg#Rubik')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700italic.svg#Rubik*/ format('svg'); /* Legacy iOS */
}
/* rubik-900 - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  src: url('rubik-v9-cyrillic_latin-900.eot')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900.eot*/; /* IE9 Compat Modes */
  src: local('Rubik Black'), local('Rubik-Black'),
	url('rubik-v9-cyrillic_latin-900.eot-#iefix')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
	url('rubik-v9-cyrillic_latin-900.woff2')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900.woff2*/ format('woff2'), /* Super Modern Browsers */
	url('rubik-v9-cyrillic_latin-900.woff')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900.woff*/ format('woff'), /* Modern Browsers */
	url('rubik-v9-cyrillic_latin-900.ttf')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900.ttf*/ format('truetype'), /* Safari, Android, iOS */
	url('rubik-v9-cyrillic_latin-900.svg#Rubik')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900.svg#Rubik*/ format('svg'); /* Legacy iOS */
}
/* rubik-900italic - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 900;
  src: url('rubik-v9-cyrillic_latin-900italic.eot')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900italic.eot*/; /* IE9 Compat Modes */
  src: local('Rubik Black Italic'), local('Rubik-BlackItalic'),
	url('rubik-v9-cyrillic_latin-900italic.eot-#iefix')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900italic.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
	url('rubik-v9-cyrillic_latin-900italic.woff2')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900italic.woff2*/ format('woff2'), /* Super Modern Browsers */
	url('rubik-v9-cyrillic_latin-900italic.woff')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900italic.woff*/ format('woff'), /* Modern Browsers */
	url('rubik-v9-cyrillic_latin-900italic.ttf')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900italic.ttf*/ format('truetype'), /* Safari, Android, iOS */
	url('rubik-v9-cyrillic_latin-900italic.svg#Rubik')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900italic.svg#Rubik*/ format('svg'); /* Legacy iOS */
}

html {
  /*-- font-family: sans-serif; --*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;	
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  height:100%;
  background: #EEF1F2;
}

#container {
  background: #fff;
  width: 96%;
  margin: 0 auto;
  padding-bottom: 1px; //fix for bottom collapsing space
}


.logo-image {
  width: 55px;
  height: 55px;
  vertical-align: top;
}

.logo-image__admin {
  width: 22px;
  height: 22px;
  margin-top: 8px;
  ZZmargin-left: 12px;
  vertical-align: top;
}

.logo-text {
  display:inline-block;
  border:1px solid transparent;
  font-size:18px;
  font-weight:500;
  color: #3c4050;
  letter-spacing:0.9px;
  height:55px;
  line-height:28px;
  margin:0 12px;
}

#header {
  background: #EEF1F2;
  padding: 12px 0 !important;
}

#header.admin {
  padding: 0;
}

.header {
  height: auto !important;
  text-align: left !important;
}

.header .home-link {
  margin: 0 !important;
  padding: 0 !important;
}

.upper {
  text-transform: uppercase;
}

.bold {
  font-weight: bold !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*-- Menu ON --*/
.eaunion-menu ul {
  list-style: none;
  margin: 0 12px;
  padding: 0;
  display:inline-block;
  text-align: right;
  float:right;
}

.eaunion-menu .pm-links.mobile {
  background: transparent;
  position: absolute;
  left: 0;
  top: 32px;
  z-index: 1000;
}

.eaunion-menu .pm-links.mobile li {
  display: block;
  clear: both;
  width: 175px;
}

.pm-links li {
  transform: skew(-25deg);
  display:inline-block;
  font-size: 0.9rem;
}
.pm-links.mobile {
  text-align: left;
}

.eaunion-menu li a span {
  display:block;
  transform: skew(25deg) !important;
}

.eaunion-menu a {
  font-family: "Raleway","Helvetica","Arial",sans-serif;
  display: block;
  color: #1886b7;
  line-height: 40px;
  padding: 0 8px;
  text-decoration: none;
}

.eaunion-menu.light a {
  color: #000;
}

.eaunion-menu a.selected {
  background: #777;
}

.eaunion-menu.light a.selected {
  background: #c5c5c5;
}

.eaunion-menu li a:hover{
  background: #fff;
  text-decoration: none;
}

.eaunion-menu.light li a:hover{
  background: #d0d0d0;
}

.eaunion-menu-dropdown a {
  display: inline-block;
}

.eaunion-menu-dropdown a.active {
  ZZbackground: #666;
}

.eaunion-menu-dropdown a {
  ZZbackground: #c5c5c5;
}

.eaunion-menu-dropdown a.active {
  ZZZbackground: #bbb;
}

.eaunion-menu-dropdown span.icon,
.eaunion-menu-dropdown span.white {
  background: url(logo.svg)/*tpa=http://172.17.12.210:28080/images/global/logo.svg*/ no-repeat !important;
  display: block;
  height: 22px;
  width: 22px;
}

.eaunion-menu-dropdown span::before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOvgAADr4B6kKxwAAAABZ0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMDvo9WkAAABpSURBVEhL7ZPLCcAwDEM9jefI/ks1Hyj2QbiGSLcKHggl8sEktjTc/WGyZxo6YKAbrFzFoav3/hdhmsrlijBN5XJFmKZyuSJMU7lcsfV/kIN0FRJgyACGDGDIAIYMpK8CHt6iG6xZhY0JIJ+6AHGbUFsAAAAASUVORK5CYII=);
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position-y: 4px;
  width: 18px;
  height:28px;
  margin-left:24px;
  margin-top: -10px;
  display: inline-block;
  content: '';
}

.eaunion-menu-dropdown span.icon,
.eaunion-menu-dropdown span.black {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOvgAADr4B6kKxwAAAABZ0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMDvo9WkAAABpSURBVEhL7ZPLCcAwDEM9jefI/ks1Hyj2QbiGSLcKHggl8sEktjTc/WGyZxo6YKAbrFzFoav3/hdhmsrlijBN5XJFmKZyuSJMU7lcsfV/kIN0FRJgyACGDGDIAIYMpK8CHt6iG6xZhY0JIJ+6AHGbUFsAAAAASUVORK5CYII=) no-repeat;
  display: block;
  height: 22px;
  width: 22px;
  ZZmargin: 9px 5px;
}
/*-- Menu OFF --*/

.admin-title {
  background: transparent !important;
  height: auto;
  padding: 0 !important;
  border-bottom: 1px solid #EEF1F2;
}
.admin-title h1 {
  color: red;
  font-size: 22px !important;
  margin: 8px 0 8px 20px;
  padding: 0;
  text-align: left;
}

.title {
  clear: both;
  width: 100%;
  background: url('title-label-stripe.svg')/*tpa=http://172.17.12.210:28080/images/global/title-label-stripe.svg*/ no-repeat;
}

.title h1 {
  font-family: "Raleway","Helvetica","Arial",sans-serif !important;
  font-weight: 400;
}

#containerWrapper {
  position: relative;
  height: auto !important;
  min-height: 100%;
}

#container {
  height: auto !important;
  min-height: 100%;
}


#container a {
  color:#1886b7;
}

#container a:visited,
#container a:active {
  color:#1886b7;
}


.v-dev__content {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding-top: 32px;
}

/*
#footer {
  width: 100%;
  overflow: hidden;
  text-align: center;
  clear:both;
}
.footer {
  background: #3c4050;
  height: 80px;
  color: #fff;
  position: relative;
  padding: 1rem;
  text-align: center;	
}
*/
.admin-footer {
  height: 44px !important;
  overflow-y: hidden !important;
  padding: 2px;
}

.admin-footer .footer__link {
  font-size: 14px !important;  
}
.footer__wrap {
  *zoom: 1;
  display: inline-block;
  margin:0 auto !important;
  padding-left: 0;
  padding-right: 0;
  height: inherit;
  white-space: nowrap;
  overflow: hidden;
}
.footer__wrap:before,
.footer__wrap:after {
  content: '';
  display: table;
}
.footer__wrap:after {
  clear: both;
}

.admin-footer .footer__wrap{
  margin:0 !important;
}

.footer__logo {
  display: inline-block;
  margin: 22px 24px 12px 20px;
}
.admin-footer .footer__logo {
  display: inline-block;
  margin: 4px 24px 12px 20px;
}
.footer__links {
  padding-top: 32px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
}
.admin-footer .footer__links {
  margin-top: 12px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
}

.admin-footer .footer__links {
  padding: 2px !important;
}

.admin-footer__links {
  padding-top: 2px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
}
.footer__link {
  height: 18px;
  line-height: 17px;
  padding-right: 24px;
  border-right: 1px solid #907551;
  vertical-align: top;
  display: inline-block;
  white-space: nowrap;
  margin-right: 18px;
  color: #ccc;
  font-size: 14px;
}
.footer__link:last-child {
  border-right: 0;
}
.footer__link:hover,
.footer__link:active,
.footer__link:focus {
  color: #ccc;
}

.doc-type {
  padding: 4px 0;
}

/* Processes ON */
.base-components-subtitle {
  margin: 24px 0;
}
.base-components-subtitle h2 {
  margin: 0;
  font-size: 18px;
}
.base-components-subtitle h6 {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}
.distr-body {
  background: #EDF1F2;
  margin: 12px 0;
  padding: 8px 0 12px 0;
}
.distr-link {
  display: inline-block;
}

.version-item {
  padding-left: 18px;
  background: url('bullet-grey.svg')/*tpa=http://172.17.12.210:28080/img/ico/bullet-grey.svg*/ 0px 4px no-repeat;
  background-size: 12px 12px;
}

.version-item-active {
  background-image: url('bullet-blue.svg')/*tpa=http://172.17.12.210:28080/img/ico/bullet-blue.svg*/
}


.base-components .v-processes__content {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0 0 40px 0;
  background: #EEF1F2;
}

.base-components .v-processes__content:before,
.base-components .v-processes__content:after {
  content: '';
  display: table;
}

.base-components .v-processes__content:after {
  clear: both;
}

.base-components .v-processes__content--before-footer {
  margin-bottom: 60px;
  position: relative;
}

.base-components .v-processes__content-col {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 45%;
  margin-left: 0%;
  margin-right: 10%;
  cursor: pointer;

}

base-components .v-processes__content-col,
.base-components .v-processes__content-col__admin,
.base-components .v-processes__accordion-header {
  margin-right: 40px;
  min-height: 80px;
}

.base-components .v-processes__content-col:before,
.base-components .v-processes__content-col:after {
  content: '';
  display: table;
}
.base-components .v-processes__content-col:after {
  clear: both;
}

.base-components .v-processes__content-col:nth-child(2n) {
  margin-right: 0%;
  float: right;
}

.base-components .v-processes__content-col:nth-child(2n + 1) {
  clear: both;
}

.base-components .v-processes__description {
  *zoom: 1;
}

.base-components .v-processes__description:before,
.base-components .v-processes__description:after {
  content: '';
  display: table;
}

.base-components .v-processes__description:after {
  clear: both;
}

.base-components .v-processes__description {
  width: 100%;
}

.base-components .v-processes__description-el {
  width: 50%;
  float: left;
  margin-top: 22px;
  min-height: 60px;
  position: relative;
  font-size: 16px;
}

.base-components .v-processes__description-el-number {
  display: block;
  float: left;
}


/*
.base-components .v-processes__description-el-text   {
  margin-left: 8px;
}
*/

.base-components .v-processes__description-admin .base-components .v-processes__description-el-text {
  margin-right: 48px;
  display: inline-block;
  float: left;
}

.tools-v-processes__block {
  /*
  position: absolute;
  display: inline-block;
  top: 40px;
  right: 0;
  */
  margin-left: 58px;
  margin-top: 12px;
}
.tools-v-processes__process {
  /*
  position: absolute;
  right: 20px;
  display: inline-block;
  margin-top: 14px;
  */
  margin-left: 28px;
  margin-top: 12px;
}

.base-components .v-processes__content-col--with-card {
  margin-top: -42px;
}

.base-components .v-processes__card-text {
  font-size: 14px;
  line-height: 24px;
}

.base-components .v-processes__accordion-header {
  position: relative;
  margin-top: 35px;
  margin-left: 60px;
  display: block;
}

.base-components .v-processes__accordion-header:focus {
  outline: none;
}

.base-components .v-processes__accordion-header--active {
  color: #000000 !important;
  cursor: default !important;
}

.base-components .v-processes__accordion-header--active:hover,
.base-components .v-processes__accordion-header--active:focus {
  color: inherit;
}

.base-components .v-processes__accordion-content-append:after {
  content: '';
  display: block;
  clear: both;
}

.base-components .v-processes__clear {
  clear: both;
}

.base-components .v-processes__clear:after {
  content: '';
  display: block;
  clear: both;
}

.vProcesses {
  clear: both;
}

.vProcesses::before,
.vProcesses:after {
  content: '';
  display: block;
  clear: both;
}

.base-components .v-processes__accordion-content-close-btn {
  position: absolute;
  right: 16px;
  text-align: center;
  height: 26px;
  width: 26px;
  font-size: 20px;
  line-height: 17px;
  top: 12px;
  padding: 4px;
  cursor: pointer;
  opacity: 0.38;
  transition: all 0.35s ease;
}

.base-components .v-processes__accordion-content-close-btn:hover,
.base-components .v-processes__accordion-content-close-btn:active,
.base-components .v-processes__accordion-content-close-btn:focus {
  transition: all 0.15s ease;
}

.base-components .v-processes__accordion-content-close-btn:hover,
.base-components .v-processes__accordion-content-close-btn:focus {
  opacity: 0.62;
  outline: none;
}

.base-components .v-processes__accordion-content-close-btn:active {
  opacity: 0.38;
}


.base-components .v-processes-icon {
  position: absolute;
  top: 28px;
  left: -10px;
}

.base-components .v-processes__accordion-content {
  background: #ffffff;
  position: relative;
  border: 1px solid #e7edf3;
  /* padding: 48px 74px; */
  padding: 48px 24px;
  margin: 32px 0 32px 0;
  display: block;
}

.base-components .v-processes__tri-up:after {
  bottom: 100%;
  left: 720px;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 16px;
  margin-left: -16px;
}

.base-components .v-processes__tri-up--left-col:after {
  left: 230px;
}


.base-components .v-processes__accordion-content:before {
  content: '';
  display: block;
  clear: both;
}
/* Processes OFF */

.ico-tool {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 24px 20px;
  cursor: pointer;
  margin-bottom: 12px;
  padding: 2px;
  border-radius: 3px;
}
.ico-tool:hover {
  background-color: rgba(26,145,206,0.3);
}
/*
.ico-tool:hover::after {
  font-size: 12px;
  display: inline-block;
  float: left;
  margin-left: 22px;
  margin-top: -14px;
  background: rgba(255,255,255,0.9);
  padding: 2px 4px;
  border:1px solid rgba(26,145,206,0.3);
  border-radius: 3px;
  position: absolute;
  z-index: 999999;
}
*/
.ico-tool:hover::after {
  font-size: 12px;
  display: inline-block;
  float: left;
  margin-left: -4px;
  margin-top: -24px;
  background: rgba(255, 255, 255, 0.9);
  padding: 2px 4px;
  border: 1px solid rgba(26, 145, 206, 0.3);
  border-radius: 3px;
  position: absolute;
  z-index: 999999;
}

.ico-tool:hover:before {
  content: '';
  display: block;
  width: 0px;
  height: 0px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(26, 145, 206, 0.3);  
  margin-top:-7px;
}

.ico-download {
  width: 24px;
  height: 24px;
  background: #1A91CE url(download-24.png)/*tpa=http://172.17.12.210:28080/img/ico/download-24.png*/ center center no-repeat;
  background-size: 20px 20px;
  cursor: pointer;
  margin-bottom: 12px;
  padding: 2px;
  border-radius: 3px;
  border: 1px solid rgba(204,204,204,0.5);
}

.ico-download:hover::after {
  content: "Скачать";
} 

.ico-edit {
  width: 24px;
  height: 24px;
  background: #EDF1F2 url(edit.svg)/*tpa=http://172.17.12.210:28080/img/ico/edit.svg*/ center center no-repeat;
  background-size: 24px 20px;
  cursor: pointer;
  margin-bottom: 12px;
  padding: 2px;
  border-radius: 3px;
  border: 1px solid rgba(204,204,204,0.5);
}

.ico-edit:hover::after {
  content: "Редактировать";
} 

.ico-delete {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #EDF1F2 url(delete.svg)/*tpa=http://172.17.12.210:28080/img/ico/delete.svg*/ center center no-repeat;
  background-size: 20px 20px;
  cursor: pointer;
  padding: 2px;
  border-radius: 3px;
  border: 1px solid rgba(204,204,204,0.5);  
}

.ico-bg-white {
  background-color: #fff;
}

.ico-delete:hover::after {
  content: "Удалить";
}

.hbox {
  display: inline-block;
  white-space: nowrap;
}

.hbox * {
  display: inline-block;
}

ul.hbox4 li{
  display: inline-block;
  margin-right: 4px !important;
  float: left;
}

.ico-tool-empty {
  width: 30px;
  height: 30px;
}

.ico-toggle-branch {
  display: block;
  width: 16px;
  height: 16px;
  text-align: center;
  cursor: pointer;
  background: #B2915B;
  color: #fff;
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.ico-toggle-branch::after {
  display: block;
  width: 16px;
  height: 16px;  
  content: '+';
  font-size: 24px;
  line-height: 18px;
  font-style: normal;
}
.ico-toggle-branch__open {
  display: block;
  width: 16px;
  height: 16px;
}
.ico-toggle-branch__open::after {
  display: block;
  width: 16px;
  height: 16px;  
  content: '-';
  line-height: 12px;
  background: #DAE2EB;
}

.bcversions-container {
  min-height: 100px;
  max-height: 250px;
  overflow-y: scroll;
  border: 1px solid #D7E0EA;
  background: #fff;
  margin-right: 2px;
  padding: 0;	
}
.bcversions-container .proc-version > tr > td,
.bcversions-container .proc-version-files > tr > td {
  padding: 8px 0 !important;
  vertical-align: middle;
  height: 32px;
}


.proc-version tr td {
  border-bottom: 1px solid #CEDAE8;
}

.proc-version.bcv_open tr td:first-child {
  border-bottom: none;
}


.proc-version-files tr td {
  border-bottom: 1px solid #CEDAE8;
}
.proc-version-files tr td:first-child {
  border: none;
}

.proc-version-file .proc-version-filename {
  background:url('icon-file.svg')/*tpa=http://172.17.12.210:28080/img/ico/icon-file.svg*/ no-repeat;
  padding-left: 22px;
}
/*
.proc-versions-files tr td:nth-child(2),
.proc-versions-files tr td:first-child {
  border-right: 1px solid #D7E0EA;
}
*/

.form-dialog__table>tr>td {
  padding:4px;
}

.form-dialog__table .proc-versions-files tr td:first-child {
  width: 1% !important;
}
/*
.proc-versions-files .proc-version tr {
  border: 1px solid #CEDAE8 !important;
}
*/
.proc-versions-files tr:hover td {
  background: rgba(26,145,206,0.1);
}
.proc-versions-files .ico-tool {
  margin-bottom: 0 !important;
}

.break-long {
  white-space: normal !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;        
}

.common-table.form-dialog__table label {
  display: block;
  height: 16px;
  line-height: 16px;
  margin-top: 8px !important;
}

@media screen and (max-width: 800px) {
  .footer {
	height: auto;
  }
  .footer__logo {
	display: inline-block;
	margin: 32px 12px 6px 10px;
  }	
  .footer__links {
	padding-top: 12px;
	white-space: normal;
	vertical-align: top;
  }
  .footer__link {
	display: block;
	border-right: 0;
	margin: 6px auto;
	font-size: 10px;
  }
}

@media screen and (max-width: 320px){
  .title {
	position: absolute;
	top: 0;
	right: 0;
	height: 40px;
	background-size: 500px;
	font-size: 12px;
  }
}

@media screen and (max-width: 480px){
  .title {
	position: absolute;
	top: 0;
	right: 0;
	height: 40px;
	background-size: 200%;
	text-align: right;
  }
  .title h1 {
	font-size: 14px;
	padding-right:25%;
  }
  .pm-links.menu-desktop {
	display: none;
  }
  .no-mobile {
	display:none;
  }
  .eaunion-menu-dropdown {
	display: block;
	z-index: 999999 !important;
  }
  #header {
	background: #fff;
	padding: 0;
  }		
}

@media screen and (min-width: 481px){
  .eaunion-menu-dropdown {
	display: none;
  }
  .admin-title {
	height: auto !important;
  }
}

@media screen and (max-width: 768px) {
  .logo-text {
	display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .title {
	height: 60px;
	background-size: 200%;
	background-position: 15% 50%;
	text-align: right;
  }
  .title h1 {
	padding-top:6px;
	font-size: 16px;
	padding-right:40%;
  }        
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .title {
	height: 80px;
	background-size: 1280px;
	background-position: 35% 50%;
	text-align: right;
  }
  .title h1 {
	padding-top:16px;
	font-size: 28px;
	padding-right:63%;
  }        
}

@media screen and (min-width: 1281px) {
  .title {
	height: 100px;
	background-size: 2560px;
	background-position: 35% 50%;
	text-align: right;
  }
  .title h1 {
	padding-top:16px;
	font-size: 36px;
	padding-right:60%;
  }        
}

@media screen and (max-width: 800px) {
  .pm-links a {
	font-size:12px !important;
  }         
}

@media screen and (min-width: 800px) {
  .pm-links a {
	font-weight: 400 !important;
  }         
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  .pm-links a {
	font-size:12px !important;
  }         
}

@media screen and (min-width: 1000px) and (max-width: 1280px) {
  .pm-links a {
	font-size:13px !important;
  }         
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .pm-links a {
	font-size:14px !important;
  }         
}

@media screen and (min-width: 1440px) and (max-width: 1600px) {
  .pm-links a {
	font-size:16px !important;
  }         
}

@media screen and (min-width: 1600px) {
  .pm-links a {
	font-size:18px !important;
  }         
}