ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.v-dev__timeline-step2010 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 6.36364%;
  margin-left: 0%;
  margin-right: 3%;
  height: 77px;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.v-dev__timeline-step2010:before,
.v-dev__timeline-step2010:after {
  content: '';
  display: table;
}

.v-dev__timeline-step2010:after {
  clear: both;
}

.v-dev__timeline-step2010:last-child {
  margin-right: 0%;
}

.v-dev__timeline-step2010 .v-dev__timeline-step-image {
  background: url("timeline-step.svg")/*tpa=http://172.17.12.210:28080/images/development/timeline-step.svg*/ no-repeat;
  background-size: 840px;
  background-position: 0 0px;
  width: 77px;
  height: 58px;
  display: inline-block;
}

.v-dev__timeline-step2010--is-active .v-dev__timeline-step-image {
  background: url("timeline-step.svg")/*tpa=http://172.17.12.210:28080/images/development/timeline-step.svg*/ no-repeat;
  background-size: 840px;
  background-position: 0 -76px;
}

.v-dev__timeline-step2010--is-active .v-dev__timeline-text {
  color: #907551;
}

.v-dev__timeline-step2010--is-active:after {
  border-right: 2px solid #907551;
  content: '';
  height: 45px;
  bottom: -65px;
  left: 50%;
  position: absolute;
}

.v-dev__timeline-step2011 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 6.36364%;
  margin-left: 0%;
  margin-right: 3%;
  height: 77px;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.v-dev__timeline-step2011:before,
.v-dev__timeline-step2011:after {
  content: '';
  display: table;
}

.v-dev__timeline-step2011:after {
  clear: both;
}

.v-dev__timeline-step2011:last-child {
  margin-right: 0%;
}

.v-dev__timeline-step2011 .v-dev__timeline-step-image {
  background: url("timeline-step.svg")/*tpa=http://172.17.12.210:28080/images/development/timeline-step.svg*/ no-repeat;
  background-size: 840px;
  background-position: -85px 0px;
  width: 77px;
  height: 58px;
  display: inline-block;
}

.v-dev__timeline-step2011--is-active .v-dev__timeline-step-image {
  background: url("timeline-step.svg")/*tpa=http://172.17.12.210:28080/images/development/timeline-step.svg*/ no-repeat;
  background-size: 840px;
  background-position: -85px -76px;
}

.v-dev__timeline-step2011--is-active .v-dev__timeline-text {
  color: #907551;
}

.v-dev__timeline-step2011--is-active:after {
  border-right: 2px solid #907551;
  content: '';
  height: 45px;
  bottom: -65px;
  left: 50%;
  position: absolute;
}

.v-dev__timeline-step2012 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 6.36364%;
  margin-left: 0%;
  margin-right: 3%;
  height: 77px;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.v-dev__timeline-step2012:before,
.v-dev__timeline-step2012:after {
  content: '';
  display: table;
}

.v-dev__timeline-step2012:after {
  clear: both;
}

.v-dev__timeline-step2012:last-child {
  margin-right: 0%;
}

.v-dev__timeline-step2012 .v-dev__timeline-step-image {
  background: url("timeline-step.svg")/*tpa=http://172.17.12.210:28080/images/development/timeline-step.svg*/ no-repeat;
  background-size: 840px;
  background-position: -170px 0px;
  width: 77px;
  height: 58px;
  display: inline-block;
}

.v-dev__timeline-step2012--is-active .v-dev__timeline-step-image {
  background: url("timeline-step.svg")/*tpa=http://172.17.12.210:28080/images/development/timeline-step.svg*/ no-repeat;
  background-size: 840px;
  background-position: -170px -76px;
}

.v-dev__timeline-step2012--is-active .v-dev__timeline-text {
  color: #907551;
}

.v-dev__timeline-step2012--is-active:after {
  border-right: 2px solid #907551;
  content: '';
  height: 45px;
  bottom: -65px;
  left: 50%;
  position: absolute;
}

.v-dev__timeline-step2013 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 6.36364%;
  margin-left: 0%;
  margin-right: 3%;
  height: 77px;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.v-dev__timeline-step2013:before,
.v-dev__timeline-step2013:after {
  content: '';
  display: table;
}

.v-dev__timeline-step2013:after {
  clear: both;
}

.v-dev__timeline-step2013:last-child {
  margin-right: 0%;
}

.v-dev__timeline-step2013 .v-dev__timeline-step-image {
  background: url("timeline-step.svg")/*tpa=http://172.17.12.210:28080/images/development/timeline-step.svg*/ no-repeat;
  background-size: 840px;
  background-position: -255px 0px;
  width: 77px;
  height: 58px;
  display: inline-block;
}

.v-dev__timeline-step2013--is-active .v-dev__timeline-step-image {
  background: url("timeline-step.svg")/*tpa=http://172.17.12.210:28080/images/development/timeline-step.svg*/ no-repeat;
  background-size: 840px;
  background-position: -255px -76px;
}

.v-dev__timeline-step2013--is-active .v-dev__timeline-text {
  color: #907551;
}

.v-dev__timeline-step2013--is-active:after {
  border-right: 2px solid #907551;
  content: '';
  height: 45px;
  bottom: -65px;
  left: 50%;
  position: absolute;
}

.v-dev__timeline-step2014 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 6.36364%;
  margin-left: 0%;
  margin-right: 3%;
  height: 77px;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.v-dev__timeline-step2014:before,
.v-dev__timeline-step2014:after {
  content: '';
  display: table;
}

.v-dev__timeline-step2014:after {
  clear: both;
}

.v-dev__timeline-step2014:last-child {
  margin-right: 0%;
}

.v-dev__timeline-step2014 .v-dev__timeline-step-image {
  background: url("timeline-step.svg")/*tpa=http://172.17.12.210:28080/images/development/timeline-step.svg*/ no-repeat;
  background-size: 840px;
  background-position: -340px 0px;
  width: 77px;
  height: 58px;
  display: inline-block;
}

.v-dev__timeline-step2014--is-active .v-dev__timeline-step-image {
  background: url("timeline-step.svg")/*tpa=http://172.17.12.210:28080/images/development/timeline-step.svg*/ no-repeat;
  background-size: 840px;
  background-position: -340px -76px;
}

.v-dev__timeline-step2014--is-active .v-dev__timeline-text {
  color: #907551;
}

.v-dev__timeline-step2014--is-active:after {
  border-right: 2px solid #907551;
  content: '';
  height: 45px;
  bottom: -65px;
  left: 50%;
  position: absolute;
}

.v-dev__timeline-step2015 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 6.36364%;
  margin-left: 0%;
  margin-right: 3%;
  height: 77px;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.v-dev__timeline-step2015:before,
.v-dev__timeline-step2015:after {
  content: '';
  display: table;
}

.v-dev__timeline-step2015:after {
  clear: both;
}

.v-dev__timeline-step2015:last-child {
  margin-right: 0%;
}

.v-dev__timeline-step2015 .v-dev__timeline-step-image {
  background: url("timeline-step.svg")/*tpa=http://172.17.12.210:28080/images/development/timeline-step.svg*/ no-repeat;
  background-size: 840px;
  background-position: -425px 0px;
  width: 77px;
  height: 58px;
  display: inline-block;
}

.v-dev__timeline-step2015--is-active .v-dev__timeline-step-image {
  background: url("timeline-step.svg")/*tpa=http://172.17.12.210:28080/images/development/timeline-step.svg*/ no-repeat;
  background-size: 840px;
  background-position: -425px -76px;
}

.v-dev__timeline-step2015--is-active .v-dev__timeline-text {
  color: #907551;
}

.v-dev__timeline-step2015--is-active:after {
  border-right: 2px solid #907551;
  content: '';
  height: 45px;
  bottom: -65px;
  left: 50%;
  position: absolute;
}

.v-dev__timeline-step2016 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 6.36364%;
  margin-left: 0%;
  margin-right: 3%;
  height: 77px;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.v-dev__timeline-step2016:before,
.v-dev__timeline-step2016:after {
  content: '';
  display: table;
}

.v-dev__timeline-step2016:after {
  clear: both;
}

.v-dev__timeline-step2016:last-child {
  margin-right: 0%;
}

.v-dev__timeline-step2016 .v-dev__timeline-step-image {
  background: url("timeline-step.svg")/*tpa=http://172.17.12.210:28080/images/development/timeline-step.svg*/ no-repeat;
  background-size: 840px;
  background-position: -510px 0px;
  width: 77px;
  height: 58px;
  display: inline-block;
}

.v-dev__timeline-step2016--is-active .v-dev__timeline-step-image {
  background: url("timeline-step.svg")/*tpa=http://172.17.12.210:28080/images/development/timeline-step.svg*/ no-repeat;
  background-size: 840px;
  background-position: -510px -76px;
}

.v-dev__timeline-step2016--is-active .v-dev__timeline-text {
  color: #907551;
}

.v-dev__timeline-step2016--is-active:after {
  border-right: 2px solid #907551;
  content: '';
  height: 45px;
  bottom: -65px;
  left: 50%;
  position: absolute;
}

.v-dev__timeline-step2017 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 6.36364%;
  margin-left: 0%;
  margin-right: 3%;
  height: 77px;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.v-dev__timeline-step2017:before,
.v-dev__timeline-step2017:after {
  content: '';
  display: table;
}

.v-dev__timeline-step2017:after {
  clear: both;
}

.v-dev__timeline-step2017:last-child {
  margin-right: 0%;
}

.v-dev__timeline-step2017 .v-dev__timeline-step-image {
  background: url("timeline-step.svg")/*tpa=http://172.17.12.210:28080/images/development/timeline-step.svg*/ no-repeat;
  background-size: 840px;
  background-position: -595px 0px;
  width: 77px;
  height: 58px;
  display: inline-block;
}

.v-dev__timeline-step2017--is-active .v-dev__timeline-step-image {
  background: url("timeline-step.svg")/*tpa=http://172.17.12.210:28080/images/development/timeline-step.svg*/ no-repeat;
  background-size: 840px;
  background-position: -595px -76px;
}

.v-dev__timeline-step2017--is-active .v-dev__timeline-text {
  color: #907551;
}

.v-dev__timeline-step2017--is-active:after {
  border-right: 2px solid #907551;
  content: '';
  height: 45px;
  bottom: -65px;
  left: 50%;
  position: absolute;
}

.v-dev__timeline-step2018 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 6.36364%;
  margin-left: 0%;
  margin-right: 3%;
  height: 77px;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.v-dev__timeline-step2018:before,
.v-dev__timeline-step2018:after {
  content: '';
  display: table;
}

.v-dev__timeline-step2018:after {
  clear: both;
}

.v-dev__timeline-step2018:last-child {
  margin-right: 0%;
}

.v-dev__timeline-step2018 .v-dev__timeline-step-image {
  background: url("timeline-step.svg")/*tpa=http://172.17.12.210:28080/images/development/timeline-step.svg*/ no-repeat;
  background-size: 840px;
  background-position: -680px 0px;
  width: 77px;
  height: 58px;
  display: inline-block;
}

.v-dev__timeline-step2018--is-active .v-dev__timeline-step-image {
  background: url("timeline-step.svg")/*tpa=http://172.17.12.210:28080/images/development/timeline-step.svg*/ no-repeat;
  background-size: 840px;
  background-position: -680px -76px;
}

.v-dev__timeline-step2018--is-active .v-dev__timeline-text {
  color: #907551;
}

.v-dev__timeline-step2018--is-active:after {
  border-right: 2px solid #907551;
  content: '';
  height: 45px;
  bottom: -65px;
  left: 50%;
  position: absolute;
}

.v-dev__timeline-step2019 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 6.36364%;
  margin-left: 0%;
  margin-right: 3%;
  height: 77px;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.v-dev__timeline-step2019:before,
.v-dev__timeline-step2019:after {
  content: '';
  display: table;
}

.v-dev__timeline-step2019:after {
  clear: both;
}

.v-dev__timeline-step2019:last-child {
  margin-right: 0%;
}

.v-dev__timeline-step2019 .v-dev__timeline-step-image {
  background: url("timeline-step.svg")/*tpa=http://172.17.12.210:28080/images/development/timeline-step.svg*/ no-repeat;
  background-size: 840px;
  background-position: -765px 0px;
  width: 77px;
  height: 58px;
  display: inline-block;
}

.v-dev__timeline-step2019--is-active .v-dev__timeline-step-image {
  background: url("timeline-step.svg")/*tpa=http://172.17.12.210:28080/images/development/timeline-step.svg*/ no-repeat;
  background-size: 840px;
  background-position: -765px -76px;
}

.v-dev__timeline-step2019--is-active .v-dev__timeline-text {
  color: #907551;
}

.v-dev__timeline-step2019--is-active:after {
  border-right: 2px solid #907551;
  content: '';
  height: 45px;
  bottom: -65px;
  left: 50%;
  position: absolute;
}

.v-dev__timeline-step9999 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 6.36364%;
  margin-left: 0%;
  margin-right: 3%;
  height: 77px;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.v-dev__timeline-step9999:before,
.v-dev__timeline-step9999:after {
  content: '';
  display: table;
}

.v-dev__timeline-step9999:after {
  clear: both;
}

.v-dev__timeline-step9999:last-child {
  margin-right: 0%;
}

.v-dev__timeline-step9999 .v-dev__timeline-step-image {
  background: url("timeline-step.svg")/*tpa=http://172.17.12.210:28080/images/development/timeline-step.svg*/ no-repeat;
  background-size: 840px;
  background-position: -850px 0px;
  width: 77px;
  height: 58px;
  display: inline-block;
}

.v-dev__timeline-step9999--is-active .v-dev__timeline-step-image {
  background: url("timeline-step.svg")/*tpa=http://172.17.12.210:28080/images/development/timeline-step.svg*/ no-repeat;
  background-size: 840px;
  background-position: -850px -76px;
}

.v-dev__timeline-step9999--is-active .v-dev__timeline-text {
  color: #907551;
}

.v-dev__timeline-step9999--is-active:after {
  border-right: 2px solid #907551;
  content: '';
  height: 45px;
  bottom: -65px;
  left: 50%;
  position: absolute;
}

.v-dev__timeline-text {
  position: absolute;
  transform-style: preserve-3d;
  left: 40px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -15px;
  font-size: 22px;
  color: #1886b7;
}

.v-dev__timeline {
  margin-bottom: 65px;
}

.v-dev__timeline::after {
  clear: both;
  content: "";
  display: table;
}

.v-dev__timeline-divider {
  margin-bottom: 48px;
}

.v-dev__event-list {
  padding: 0 40px 40px;
}

.v-dev__event-list::after {
  clear: both;
  content: "";
  display: table;
}

.v-dev__event-item {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 45%;
  margin-left: 0%;
  margin-right: 10%;
  margin-bottom: 40px;
}

.v-dev__event-item:before,
.v-dev__event-item:after {
  content: '';
  display: table;
}

.v-dev__event-item:after {
  clear: both;
}

.v-dev__event-item:nth-child(2n) {
  margin-right: 0%;
  float: right;
}

.v-dev__event-item:nth-child(2n+1) {
  clear: both;
}

.v-dev__event-date {
  font-size: 22px;
  color: #907551;
  margin-bottom: 20px;
}

.v-dev__event-doc-link {
  display: inline-block;
  margin-bottom: 11px;
}

.v-dev__event-additional-info {
  margin-bottom: 16px;
  color: #907551;
  font-size: 14px;
}