

.triggered-animate {
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-iteration-count: 1;
		animation-iteration-count: 1;
		animation-delay: 0;
		-webkit-animation-duration: 0.75s;
	  animation-duration: 0.75s;
}

/*
.slick-track .slick-slide  .block-title__white.triggered-animate {
	-webkit-animation-name: slideInRight, fadeIn;
  animation-name: slideInRight, fadeIn;
}

*/

.slick-track .slick-slide .block .block-text__white {
	font-weight: lighter;
	line-height: 24px;
	width: 80%;
}
/*

.slick-track .slick-slide .block .block-text__white.triggered-animate {
	-webkit-animation-name: slideInRight, fadeIn;
  animation-name: slideInRight, fadeIn;
	animation-delay: 0.25s;
}

*/

.slider-arrows {
	margin: 0 0 0 25px;
}

.slider-arrows .slider-btn {
  background-color: white;
	color: #364658;
  border: none;
  line-height: 45px;
	text-align: center;
	height: 45px;
  width: 45px;
  border-radius: 23px;
	font-size: 24px;
	box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.3);
}

.slider-btn:hover {
	-webkit-animation-duration: 0.65s;
  animation-duration: 0.65s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.two-col-container .block-title-back__pale.triggered-animate {
  -webkit-animation-name: slideInRight, fadeIn;
  animation-name: slideInRight, fadeIn;
}

.two-col-container .block-title-back__white.triggered-animate {
  -webkit-animation-name: slideInRight, fadeIn;
  animation-name: slideInRight, fadeIn;
}

.two-col-container .block-title .line.triggered-animate {
  -webkit-animation-name: slideInLeft, fadeIn;
  animation-name: slideInLeft, fadeIn;
  animation-delay: 0.25s;
}

.two-col-container .block-title .line.line-2.triggered-animate {
  animation-delay: 0.5s;
}

.two-col-container .block-title .line.line-3.triggered-animate {
  animation-delay: 0.75s;
}

.two-col-container .block-title.right .line.triggered-animate {
  -webkit-animation-name: slideInRight, fadeIn;
  animation-name: slideInRight, fadeIn;
}


.two-col-container .block-text {
	font-weight: lighter;
}

.two-col-container .block-text.triggered-animate {
  -webkit-animation-name: slideInLeft, fadeIn;
  animation-name: slideInLeft, fadeIn;
	animation-delay: 1s;
}

.block-text.triggered-animate {
	font-weight: lighter;
}

.block-title-back ~ .block {
	position: relative;
}

.two-col-container .block-title-back.triggered-animate {
	-webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
	-webkit-animation-name: zoomOut;
  animation-name: zoomOut;
  animation-delay: 0.8s;
}

.about-stat-ic.triggered-animate {
	-webkit-animation-name: slideInDown, fadeIn;
	animation-name: slideInDown, fadeIn;
	animation-delay: 0.2s;
	margin-bottom: -10px;
}

.about-stat-number.triggered-animate {
	-webkit-animation-name: slideInRight, fadeIn;
	animation-name: slideInRight, fadeIn;
	animation-delay: 0.3s;
}

.about-stat-title.triggered-animate {
	-webkit-animation-name: slideInRight, fadeIn;
	animation-name: slideInRight, fadeIn;
	animation-delay: 0.45s;
}

.about-stat-description {
	color: #7b8fa5;
	line-height: 16px;
	font-weight: lighter;
	margin-top: 5px;
}

.about-stat-description.triggered-animate {
	-webkit-animation-name: slideInRight, fadeIn;
	animation-name: slideInRight, fadeIn;
	animation-delay: 0.60s;
}

.about-stat-rezults.triggered-animate {
	background-color: #eef2f6;
	-webkit-animation-name: zoomOut;
	animation-name: zoomOut;
	animation-duration: 0.95s;
}

.about-stat-rezults img.triggered-animate {
	-webkit-animation-duration: 0.95s;
	animation-duration: 0.95s;
	-webkit-animation-name: slideInRight, fadeIn;
	animation-name: slideInRight, fadeIn;
	animation-delay: 0.8s;
}

.about-stat-number .block-title-back {
	color: #314472;
}

.about-stat-title .block-title {
	color: #314472;
}

.national-segments .block-subtitle.triggered-animate {
	-webkit-animation-name: slideInRight, fadeIn;
	animation-name: slideInRight, fadeIn;
}

.national-segments .national-segments-scheme.triggered-animate {
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-name: slideInUp, fadeIn;
	animation-name: slideInUp, fadeIn;
}

.national-segments .block-text.triggered-animate {
	-webkit-animation-name: slideInRight, fadeIn;
	animation-name: slideInRight, fadeIn;
	animation-delay: 0.15s;
}

.national-segments td {
	padding-top: 100px !important;
}

.national-segments td.center {
	padding-top: 107px !important;
}

.block-subtitle {
	font-size: 30px;
}

.two-col-container a.btn-dark:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	animation-delay: 0;
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
}

.two-col-container .btn-dark.triggered-animate {
  -webkit-animation-name: slideInUp, fadeIn;
  animation-name: slideInUp, fadeIn;
  animation-delay: 0s;
}

.common-process {
	padding-top:-50px;
	margin-top: -50px;
}
