/* rubik-300 - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url('rubik-v9-cyrillic_latin-300.eot')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300.eot*/; /* IE9 Compat Modes */
  src: local('Rubik Light'), local('Rubik-Light'),
	url('rubik-v9-cyrillic_latin-300.eot-#iefix')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
	url('rubik-v9-cyrillic_latin-300.woff2')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300.woff2*/ format('woff2'), /* Super Modern Browsers */
	url('rubik-v9-cyrillic_latin-300.woff')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300.woff*/ format('woff'), /* Modern Browsers */
	url('rubik-v9-cyrillic_latin-300.ttf')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300.ttf*/ format('truetype'), /* Safari, Android, iOS */
	url('rubik-v9-cyrillic_latin-300.svg#Rubik')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300.svg#Rubik*/ format('svg'); /* Legacy iOS */
}
/* rubik-regular - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('rubik-v9-cyrillic_latin-regular.eot')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-regular.eot*/; /* IE9 Compat Modes */
  src: local('Rubik'), local('Rubik-Regular'),
	url('rubik-v9-cyrillic_latin-regular.eot-#iefix')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-regular.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
	url('rubik-v9-cyrillic_latin-regular.woff2')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-regular.woff2*/ format('woff2'), /* Super Modern Browsers */
	url('rubik-v9-cyrillic_latin-regular.woff')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-regular.woff*/ format('woff'), /* Modern Browsers */
	url('rubik-v9-cyrillic_latin-regular.ttf')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-regular.ttf*/ format('truetype'), /* Safari, Android, iOS */
	url('rubik-v9-cyrillic_latin-regular.svg#Rubik')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-regular.svg#Rubik*/ format('svg'); /* Legacy iOS */
}
/* rubik-300italic - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 300;
  src: url('rubik-v9-cyrillic_latin-300italic.eot')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300italic.eot*/; /* IE9 Compat Modes */
  src: local('Rubik Light Italic'), local('Rubik-LightItalic'),
	url('rubik-v9-cyrillic_latin-300italic.eot-#iefix')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300italic.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
	url('rubik-v9-cyrillic_latin-300italic.woff2')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300italic.woff2*/ format('woff2'), /* Super Modern Browsers */
	url('rubik-v9-cyrillic_latin-300italic.woff')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300italic.woff*/ format('woff'), /* Modern Browsers */
	url('rubik-v9-cyrillic_latin-300italic.ttf')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300italic.ttf*/ format('truetype'), /* Safari, Android, iOS */
	url('rubik-v9-cyrillic_latin-300italic.svg#Rubik')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-300italic.svg#Rubik*/ format('svg'); /* Legacy iOS */
}
/* rubik-italic - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  src: url('rubik-v9-cyrillic_latin-italic.eot')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-italic.eot*/; /* IE9 Compat Modes */
  src: local('Rubik Italic'), local('Rubik-Italic'),
	url('rubik-v9-cyrillic_latin-italic.eot-#iefix')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-italic.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
	url('rubik-v9-cyrillic_latin-italic.woff2')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-italic.woff2*/ format('woff2'), /* Super Modern Browsers */
	url('rubik-v9-cyrillic_latin-italic.woff')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-italic.woff*/ format('woff'), /* Modern Browsers */
	url('rubik-v9-cyrillic_latin-italic.ttf')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-italic.ttf*/ format('truetype'), /* Safari, Android, iOS */
	url('rubik-v9-cyrillic_latin-italic.svg#Rubik')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-italic.svg#Rubik*/ format('svg'); /* Legacy iOS */
}
/* rubik-500 - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('rubik-v9-cyrillic_latin-500.eot')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500.eot*/; /* IE9 Compat Modes */
  src: local('Rubik Medium'), local('Rubik-Medium'),
	url('rubik-v9-cyrillic_latin-500.eot-#iefix')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
	url('rubik-v9-cyrillic_latin-500.woff2')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500.woff2*/ format('woff2'), /* Super Modern Browsers */
	url('rubik-v9-cyrillic_latin-500.woff')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500.woff*/ format('woff'), /* Modern Browsers */
	url('rubik-v9-cyrillic_latin-500.ttf')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500.ttf*/ format('truetype'), /* Safari, Android, iOS */
	url('rubik-v9-cyrillic_latin-500.svg#Rubik')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500.svg#Rubik*/ format('svg'); /* Legacy iOS */
}
/* rubik-700 - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('rubik-v9-cyrillic_latin-700.eot')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700.eot*/; /* IE9 Compat Modes */
  src: local('Rubik Bold'), local('Rubik-Bold'),
	url('rubik-v9-cyrillic_latin-700.eot-#iefix')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
	url('rubik-v9-cyrillic_latin-700.woff2')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700.woff2*/ format('woff2'), /* Super Modern Browsers */
	url('rubik-v9-cyrillic_latin-700.woff')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700.woff*/ format('woff'), /* Modern Browsers */
	url('rubik-v9-cyrillic_latin-700.ttf')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700.ttf*/ format('truetype'), /* Safari, Android, iOS */
	url('rubik-v9-cyrillic_latin-700.svg#Rubik')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700.svg#Rubik*/ format('svg'); /* Legacy iOS */
}
/* rubik-500italic - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 500;
  src: url('rubik-v9-cyrillic_latin-500italic.eot')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500italic.eot*/; /* IE9 Compat Modes */
  src: local('Rubik Medium Italic'), local('Rubik-MediumItalic'),
	url('rubik-v9-cyrillic_latin-500italic.eot-#iefix')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500italic.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
	url('rubik-v9-cyrillic_latin-500italic.woff2')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500italic.woff2*/ format('woff2'), /* Super Modern Browsers */
	url('rubik-v9-cyrillic_latin-500italic.woff')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500italic.woff*/ format('woff'), /* Modern Browsers */
	url('rubik-v9-cyrillic_latin-500italic.ttf')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500italic.ttf*/ format('truetype'), /* Safari, Android, iOS */
	url('rubik-v9-cyrillic_latin-500italic.svg#Rubik')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-500italic.svg#Rubik*/ format('svg'); /* Legacy iOS */
}
/* rubik-700italic - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  src: url('rubik-v9-cyrillic_latin-700italic.eot')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700italic.eot*/; /* IE9 Compat Modes */
  src: local('Rubik Bold Italic'), local('Rubik-BoldItalic'),
	url('rubik-v9-cyrillic_latin-700italic.eot-#iefix')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700italic.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
	url('rubik-v9-cyrillic_latin-700italic.woff2')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700italic.woff2*/ format('woff2'), /* Super Modern Browsers */
	url('rubik-v9-cyrillic_latin-700italic.woff')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700italic.woff*/ format('woff'), /* Modern Browsers */
	url('rubik-v9-cyrillic_latin-700italic.ttf')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700italic.ttf*/ format('truetype'), /* Safari, Android, iOS */
	url('rubik-v9-cyrillic_latin-700italic.svg#Rubik')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-700italic.svg#Rubik*/ format('svg'); /* Legacy iOS */
}
/* rubik-900 - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  src: url('rubik-v9-cyrillic_latin-900.eot')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900.eot*/; /* IE9 Compat Modes */
  src: local('Rubik Black'), local('Rubik-Black'),
	url('rubik-v9-cyrillic_latin-900.eot-#iefix')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
	url('rubik-v9-cyrillic_latin-900.woff2')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900.woff2*/ format('woff2'), /* Super Modern Browsers */
	url('rubik-v9-cyrillic_latin-900.woff')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900.woff*/ format('woff'), /* Modern Browsers */
	url('rubik-v9-cyrillic_latin-900.ttf')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900.ttf*/ format('truetype'), /* Safari, Android, iOS */
	url('rubik-v9-cyrillic_latin-900.svg#Rubik')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900.svg#Rubik*/ format('svg'); /* Legacy iOS */
}
/* rubik-900italic - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 900;
  src: url('rubik-v9-cyrillic_latin-900italic.eot')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900italic.eot*/; /* IE9 Compat Modes */
  src: local('Rubik Black Italic'), local('Rubik-BlackItalic'),
	url('rubik-v9-cyrillic_latin-900italic.eot-#iefix')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900italic.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
	url('rubik-v9-cyrillic_latin-900italic.woff2')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900italic.woff2*/ format('woff2'), /* Super Modern Browsers */
	url('rubik-v9-cyrillic_latin-900italic.woff')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900italic.woff*/ format('woff'), /* Modern Browsers */
	url('rubik-v9-cyrillic_latin-900italic.ttf')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900italic.ttf*/ format('truetype'), /* Safari, Android, iOS */
	url('rubik-v9-cyrillic_latin-900italic.svg#Rubik')/*tpa=http://172.17.12.210:28080/fonts/rubik/rubik-v9-cyrillic_latin-900italic.svg#Rubik*/ format('svg'); /* Legacy iOS */
}