html,
body {
  width: 100%;
  height: 100%;
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
  background: #fff;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
td {
  padding: 0px;
  vertical-align: top;
}

.off {
  display: none;
}

.center {
  text-align: center;
}

#button {
  display: inline-block;
  background-color: #CFAF80;
  width: 50px;
  height: 50px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
	opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  border: 1px solid #ccac7d;
  border-radius: 25px;
  box-shadow: 0 0 5px rgba(0,0,0,0.4)
}
#button::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 20.8px 12px;
  border-color: transparent transparent #ffffff transparent;
  margin-top: 12px;
}
#button:hover {
  cursor: pointer;
  background-color: #465780;
  border-color: #364770;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}



.table-main {
  width: 100%;
  position: absolute;
}

.cell-left,
.cell-right {
  vertical-align: top;
}

.bg-cell-left__dark {
  height: 1000px;
  background: url("bg_dark.png")/*tpa=http://172.17.12.210:28080/img/bg_dark.png*/ no-repeat right -660px;
}

.bg-cell-right__dark {
  height: 1300px;
  background: url("bg_dark.png")/*tpa=http://172.17.12.210:28080/img/bg_dark.png*/ no-repeat left -184px;
}
.bg-cell-right__dark::before {
  content: "";
  display: block;
  height: 240px;
  background: #314472;
}

.bg-cell-main__dark {
  min-height: 1300px;
  background: url("bg_dark.png")/*tpa=http://172.17.12.210:28080/img/bg_dark.png*/ no-repeat center -423px;
}

.cell-main {
  width: 1376px;
  height: 1400px;
  vertical-align: top;
}

.cell-middle-left,
.cell-middle-main,
.cell-middle-right {
  vertical-align: bottom;
}

.bg-cell-middle-left__dark {
  min-height: 762px;
  background: url("bg_dark_middle.png")/*tpa=http://172.17.12.210:28080/img/bg_dark_middle.png*/ no-repeat right 0;
}

.bg-cell-middle-right__dark {
  min-height: 600px;
  /*-- background: url('../img/bg_dark_middle.png') no-repeat left -238px; --*/
}

.bg-cell-middle-main__dark {
  min-height: 600px;
  background: url("bg_dark_middle_lines.png")/*tpa=http://172.17.12.210:28080/img/bg_dark_middle_lines.png*/ no-repeat center 0;
}

.bg-rain {
  background: url("bg_rain.png")/*tpa=http://172.17.12.210:28080/css/img/bg_rain.png*/;
}

.header {
  background: #485981;
  min-width: 100%;
}

.header .container {
  width: 100%;
  margin:0 auto;
  padding-left: 1.6rem;
}

.logo-nest {
  border-bottom: 1px solid #485981;
  padding:11px 0;
  height: 100px;
}

.cell-main .header .container {
  padding-left: 0;
}

/*-- Menu --*/
.head-username {
  color: #7E808C;
  margin-top: 32px;
  margin-left: 42px;
}
.burger-wrapper {
  cursor: pointer;
}

#menu {
  background: #182643;
  min-width: 20rem;
  height: 100vh;
  position: fixed;
  right: 0;
  transition-timing-function: cubic-bezier(10, 2, 3, 1);
  transform: translateX(50rem);
  top: 0;
  z-index: 998;
  transition: 0.5s;
  opacity: 0.9;
}

ul.main-menu-items {
  margin: -12px 32px 0 42px;
  padding: 0;
}

ul.main-menu-items__auth {
  margin-top: 0;
}

ul.main-menu-items li {
  list-style-type: none;
  line-height: 44px;
}

ul.main-menu-items li a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

ul.main-menu-items li a:hover {
  text-decoration: underline;
}

ul.main-menu-items li.menu-auth a {
  color: #e9b965;
  font-weight: 500;
}

ul.main-menu-items li.menu-separator {
  display: block;
  border: none;
  border-top: 1px solid #314472;
}

ul.main-menu-items li.menu-separator__auth {
  display: block;
  border: none;
  border-top: 1px solid #314472;
  margin-top: 12px;
}

ul.main-menu-items li.menu-item__bottom {
  line-height: 1rem;
  font-size: 12px;
  margin-top: 28px;
  color: #fff;
}

#menuAvPaa {
  display: none;
}

#menuAvPaa:checked ~ #menu {
  transform: translateX(0rem);
}

#burger {
  position: fixed;
  cursor: pointer;
  width: 24px;
  height: 24px;
  right: 2rem;

  top: 2rem;
  display: flex;
  ZZjustify-content: space-between;
  flex-direction: column;
  z-index: 9999;
}

#burger::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 9998;
  width: 24px;
  height: 24px;
}

#burger > div {
  height: 3px;
  background-color: #cfaf80;
  transition: 0.5s;
  margin-bottom: 5px;
  z-index: 999;
}

#menuAvPaa:checked ~ #burger > div:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#menuAvPaa:checked ~ #burger > div:nth-child(2) {
  opacity: 0;
}

#menuAvPaa:checked ~ #burger > div:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/*-- Main --*/
.nowrap {
  white-space: nowrap;
}
.right {
  text-align: right;
}
table.two-col-container {
  width: 100%;
  max-width: 1370px;
  margin: 0 auto;
}
table.two-col-container > tbody > tr > td {
  padding: 40px;
  ZZwidth: 50%;
}

table.two-col-container > tbody > tr > td:first-child {
  width: 48%;
  max-width: 48%;
}
/*
table.two-col-container > tbody > tr > td.first {
  width: 40%;
}
*/

.block {
  margin-top: -55px;
  margin-left: 24px;
}

.block-title {
  font-size: 38px;
  color: rgb(54, 70, 88);
  line-height: 1.105;
  font-weight: 500;
}

.block-title__medium {
  font-size: 32px;
}

.block-title__white {
  color: white;
}

.block-title-back {
  font-size: 90px;
  color: rgb(233, 237, 242);
  font-weight: bold;
}

.block-title-back__medium {
  font-size: 72px;
}

.block-title-back__pale {
  font-size: 90px;
  color: rgb(70, 87, 128);
  font-weight: bold;
}

.text {
  font-size: 16px;
  color: rgb(86, 108, 131);
  line-height: 1.625;
  text-align: left;
}

.text__compact {
  font-size: 14px;
  line-height: 1.4em;
}


.block-text {
  margin-top: 33px;
  font-size: 16px;
  color: rgb(86, 108, 131);
  line-height: 1.625;
  text-align: left;
  padding-right: 40px;
}

.block-text__white {
  color: rgb(255, 255, 255);
}

.block-title-back__white {
  color: rgb(255, 255, 255);
}

.block-title-back__dark {
  color: rgb(54, 70, 88);
}

/*-- Buttons etc. --*/
.btn-dark {
  display: inline-block;
  background: rgb(49, 68, 114);
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  border: none;
  border-radius: 22px;
  height: 44px;
  padding: 0 20px;
  line-height: 44px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(49, 68, 114, 0.1);
}

.block .btn-dark {
  margin-top: 36px;
}

.footer {
  display: block;
  background: #EEF2F6;
  width: 100%;
  height: 70px;
  ZZborder: 1px solid transparent;
}


.footer table {
  max-width: 1375px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.footer table td {
  vertical-align: middle;
}

.footer-links {
  float: right;
  margin-right: 12px;
}

.footer-links li {
  display: table-cell;
  list-style: none;
  padding-left: 88px;
  position: relative;
  line-height: normal;
  text-align: left;
}

.footer-links li a {
  font-size: 14px;
  text-decoration: none;
  color: rgb(86, 108, 131);
}

.footer-links li::before {
  content: "\2022";
  color: #aa863c;
  font-size: 22px;
  margin-left: 48px;
  display: inline-block;
  position: absolute;
  top: -3px;
  left: 22px;
}

.copyright {
  font-size: 14px;
  color: rgb(86, 108, 131);
  margin-left: 12px;
}

/*-- Slider --*/
.slider-imgs,
.slider-txts {
  width: 575px;
  height: 380px;
  overflow: hidden;
  position: relative;
}

.slider-pn {
  position: relative;
  margin-bottom: -50px;
  float: right;
}

.slider-prev,
.slider-next {
  cursor: pointer;
}

.slider-arrows {
  white-space: nowrap;
  position: absolute;
  top: -90px;
}

.slider-arrows div,
.slider-arrows div img {
  display: inline-block;
  width: 48px;
  height: 48px;
}

.slider-background {
  width: 100%;height: 100%
}
.slider-background__ie {
  background: url('bg_scheme.png')/*tpa=http://172.17.12.210:28080/img/bg_scheme.png*/ no-repeat;
}

/*-- Processes (1st page) --*/
ul.processes-icon-links li {
  list-style: none;
  display: block;
  width: 120px;
  padding-left: 48px;
  min-height: 48px;
  margin-left:8px;
  margin-top:28px;
  background-repeat: no-repeat;
  float: left;
  font-size: 12px;
}

ul.processes-icon-links li a {
  text-decoration: none;
}

.proc-economics {
  background-image: url('ico_economics_finance.png')/*tpa=http://172.17.12.210:28080/img/ico_economics_finance.png*/;
}
.proc-trading {
  background-image: url('ico_trading.png')/*tpa=http://172.17.12.210:28080/img/ico_trading.png*/;
}
.proc-tech {
  background-image: url('ico_tech_regulation.png')/*tpa=http://172.17.12.210:28080/img/ico_tech_regulation.png*/;
}
.proc-customs {
  background-image: url('ico_customs_cooperation.png')/*tpa=http://172.17.12.210:28080/img/ico_customs_cooperation.png*/;
}
.proc-other {
  background-image: url('ico_others.png')/*tpa=http://172.17.12.210:28080/img/ico_others.png*/;
}

/*-- Dev years --*/
.dev-years-container {
  background: url('progress_line.png')/*tpa=http://172.17.12.210:28080/img/progress_line.png*/ no-repeat center 50px;
  width: 1200px;
  height: 700px;
  position: relative;
  margin-left: 10px;
  margin-top:-200px;
}
.dev-year {
  width: 12px;
  height: 12px;
  border: 6px solid #fff;
  background: #314472;
  border-radius: 12px;
  cursor:pointer;
  position: absolute;
  box-shadow: 0 0 5px rgba(49,68,114, 0.5);
}

.dev-year::before {
  display: block;
  margin-top: -38px;
  margin-left: -2px;
  color:#aa863c;
  font-size: 24px;
  font-weight: 500;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.dev-year:hover {
  background: #AA863C;
  color: red !important;
}

/*
Сдвиг влево = (yLast.left - yFirst.left)/(yNum - 1)
*/
.dev-year__2010 {top: 460px;left: 70px;}
/* --- */
.dev-year__2011 {top: 425px;left: 189px;}
.dev-year__2013 {top: 396px;left: 319px;}
.dev-year__2014 {top: 374px;left: 448px;}
.dev-year__2015 {top: 332px;left: 578px;}
.dev-year__2016 {top: 258px;left: 707px;}
.dev-year__2017 {top: 170px;left: 837px;}
.dev-year__2018 {top: 110px;left: 966px;}
/* --- */
.dev-year__2019 {top: 68px;left: 1105px;}

.dev-year__2010::before {content:'2010';}
.dev-year__2011::before {content:'2011';}
.dev-year__2012::before {content:'2012';}
.dev-year__2013::before {content:'2013';}
.dev-year__2014::before {content:'2014';}
.dev-year__2015::before {content:'2015';}
.dev-year__2016::before {content:'2016';}
.dev-year__2017::before {content:'2017';}
.dev-year__2018::before {content:'2018';}
.dev-year__2019::before {content:'2019';}

.dev-events-front-container {
  position: relative;

}

ul.dev-events-front-list {
  list-style: none;
  display: block;
  padding: 0;
  position: absolute;
  top: 24px;
  left: -16px;
}

ul.dev-events-front-list li {
  display: block;
  white-space: nowrap;
  background: transparent url('ico-dev.png')/*tpa=http://172.17.12.210:28080/img/ico-dev.png*/ no-repeat 14px 6px;
  padding: 2px 22px 2px 44px;
  height: 24px;
  border-radius: 14px;
  font-size: 12px;
  line-height: 24px;
  color:#314472;
  position: relative;
}
ul.dev-events-front-list li.dev-events-front__multi {
  display: block;
  white-space: nowrap;
  background: transparent url('ico-dev-multi.png')/*tpa=http://172.17.12.210:28080/img/ico-dev-multi.png*/ no-repeat 12px 6px;
  padding: 2px 22px 2px 44px;
  height: 24px;
  border-radius: 14px;
  font-size: 12px;
  line-height: 24px;
  color:#314472;
  position: relative;
}

ul.dev-events-front-list li:hover {
  background: #aa863c url('ico-dev__active.png')/*tpa=http://172.17.12.210:28080/img/ico-dev__active.png*/ no-repeat no-repeat 14px 6px;
  color: #fff;
}
ul.dev-events-front-list li.dev-events-front__multi:hover {
  background: #aa863c url('ico-dev-multi__active.png')/*tpa=http://172.17.12.210:28080/img/ico-dev-multi__active.png*/ no-repeat no-repeat 14px 6px;
  color: #fff;
}

.dev-events-popup {
  position: absolute;
  width: 360px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(0,0,0, 0.3);
  z-index: 9999;
  color:#7B8FA5;
  padding: 16px;
  white-space: normal;
}

.event-popup-title {
  margin-bottom: 4px;
  line-height: 16px;
  cursor: default;
}

.event-popup-title span,
.event-popup-title a {
  font-weight: 500;
  text-decoration: none;
}
.event-popup-title a {
  cursor: pointer !important;
}

.event-popup-title span,
.event-popup-title a,
.event-popup-title a:visited {
  color: #364558;
}

.event-popup-title a:hover {
  text-decoration: underline;
}

.event-popup-text {
  line-height: 16px;
  margin-bottom: 24px;
  cursor: default;
}


.v-about .block-title,
.v-members .block-title,
.v-dev .block-title,
.v-resources .block-title,
.v-processes .block-title {
  max-width: 960px;
  margin: 0 auto;
}

.v-about .block-title,
.v-members .block-title,
.v-method .block-title,
.v-model .block-title,
.v-trust-area .block-title,
.v-national-s .block-title,
.v-platform .block-title,
.integration-s .block-title,
.v-arch .block-title,
.v-resources .block-title {
  margin-bottom: 24px;
}

.v-about__section--white-with-map .v-about__content,
.v-members__description,
.v-processes__content-top-wrap .v-processes__content,
.v-resources__content {
  padding: 0;
}

.v-members__description {

}

.v-members__description-board-left .checklist {
  margin-left: 0;
}

    ul.page-block-submenu {
      ZZborder: 1px solid red;
      display: block;
	  text-align: center;
      position: relative;
      padding: 0;
      list-style: none;
      height: 48px;
      margin-bottom: -48px;
      border-bottom: 1px solid rgba(255,255,255,0.3);
	  background: #485981;
    }

    ul.page-block-submenu li {
      display: inline-block;
      ZZborder: 1px solid red;
      margin:0;
      padding: 4px 18px;
      height: 48px;
      line-height: 40px;
      float: left;
    }

    ul.page-block-submenu li.active{
      background: rgba(255,255,255,0.2)
    }
    ul.page-block-submenu li:hover {
      background: rgba(255,255,255,0.4)
    }

    ul.page-block-submenu li a:visited,
    ul.page-block-submenu li a {
      color: #fff;
    }

	/*
	.v-platform__top-header {
	  width: 100%;
	  height: 725px;
	  padding-top: 60px;
	  background-image: linear-gradient(#182643, #485981);
	  background-size: 2560px;
	  background-position: 50%;
	  margin-bottom: 62px;
	}
	*/
